<nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Tópicos Especiais </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>

      <a class="nav-item nav-link" [routerLink]="['/pessoas']" routerLinkActive="active">Pessoa</a> 
      <a class="nav-item nav-link" [routerLink]="['/grupos']" routerLinkActive="active">Grupo</a> 
      <a class="nav-item nav-link" [routerLink]="['/recursos']" routerLinkActive="active">Recurso</a>
      <a class="nav-item nav-link" [routerLink]="['/anotacoes']" routerLinkActive="active">Anotação</a>        
      <a class="nav-item nav-link" [routerLink]="['/logins']" routerLinkActive="active">Login</a>        
      <a class="nav-item nav-link" [routerLink]="['/perfis']" routerLinkActive="active">Perfil</a>        
        <!-- <a class="nav-item nav-link" [routerLink]="['/perfil_recursos']" routerLinkActive="active">Perfil Recurso</a>-->       
        <!-- <a class="nav-item nav-link" [routerLink]="['/grupo_pessoas']" routerLinkActive="active">Pessoa Grupo</a>--> 
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>