<div class="col-xs-12" style="height: 25px;"></div>

<div class="row">
    <div class="col-ms-3" *ngFor="let pessoa of pessoas | async">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/7/70/User_icon_BLACK-01.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Nome: {{pessoa.nome}}</h5>
                <p class="card-text">ID: {{pessoa.id}}</p>
                <a href="#" class="mr-1 btn btn-primary">Visualizar</a>
                <a href="#" class="btn btn-danger">Apagar</a>
            </div>
        </div>
    </div>
</div>

